langchain==1.3.11
ipython
langchain-chroma
langchain-community
langchain-core
langchain-openai==1.3.3
langchain-text-splitters
langgraph==1.2.6
openai==2.43.0
portkey-ai==2.3.2
pypdf
python-dotenv==1.2.2
requests
dotenv